<!-- Main Slider Start -->
<div class="home-slider">
    <div class="main-slider">
        <div class="main-slider-item">
            <img src="{{ url_for('static', filename='client/img/bannerphone1.jpg') }}" alt="Slider Image" />
        </div>
        <div class="main-slider-item">
            <img src="{{ url_for('static', filename='client/img/bannerphone.jpg') }}" alt="Slider Image" />
        </div>
        <div class="main-slider-item">
            <img src="{{ url_for('static', filename='client/img/bannerphone3.jpg') }}" alt="Slider Image" />
        </div>
    </div>
</div>
<!-- Main Slider End -->
