{% extends 'layout/base.html'%}
{% block title %} Trang chủ {% endblock %}
{% block content %}

{% block banner %}
{% include 'layout/banner.html'%}
{% endblock %}
<!-- Recent Product Start -->
<div class="recent-product">
    <div class="container">
        <div class="section-header">
            <h3>Sản phầm của chúng tôi</h3>

        </div>
        <div class="row align-items-center product-slider product-slider-4">
            {% for p in products %}
            <div class="col-lg-3">
                <div class="product-item">
                    <div class="product-image">
                        <a href="product-detail.html">
                            <img src="{{p.image}}" alt="Product Image">
                        </a>
                        <div class="product-action">
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="title"><a href="#">{{p.name}}</a></div>
                        <div class="ratting">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="mb-4">
                            {{p.description}}
                        </div>

                        <div>
                            <h4>
                                {{p.price}}VND
                            </h4>
                        </div>
                        <a href="#" onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}})"
                           class="btn btn-primary rounded-pill d-flex justify-content-center py-3">Book Now</a>

                    </div>
                </div>
            </div>
            {% endfor%}

        </div>
    </div>
</div>
<!-- Recent Product End -->


{% endblock %}
